<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Customer Form
        </div>
        <div class="panel-body">
            <form class="form-horizontal"
                  novalidate
                  [formGroup]="signUpForm"
                  (submit)="submitSignUpForm()">
                <fieldset>
                    <div class="form-group"
                        [class.has-error]="firstNameErrorMsg">
                        <label for="firstNameId"
                               class="col-md-2 control-label">
                            First Name
                        </label>
                        <div class="col-md-8">
                            <input type="text"
                                   class="form-control"
                                   id="firstNameId"
                                   formControlName="firstName"
                                   (blur)="setValidateNameMsg('firstName')"/>
                            <span class="help-block" *ngIf="firstNameErrorMsg">
                                {{firstNameErrorMsg}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group"
                         [class.has-error]="lastNameErrorMsg">
                        <label for="lastNameId"
                               class="col-md-2 control-label">
                            Last Name
                        </label>
                        <div class="col-md-8">
                            <input type="text"
                                   class="form-control"
                                   id="lastNameId"
                                   formControlName="lastName"
                                   (blur)="setValidateNameMsg('lastName')"/>
                            <span class="help-block" *ngIf="lastNameErrorMsg">
                                {{lastNameErrorMsg}}
                            </span>
                        </div>
                    </div>
                    <div formGroupName="emailGroup"
                         [class.has-error]="signUpForm.get('emailGroup').errors">
                        <div class="form-group"
                             [class.has-error]="emailErrorMsg">
                            <label for="emailId"
                                class="col-md-2 control-label">
                                Email
                            </label>
                            <div class="col-md-8">
                                <input type="text"
                                    class="form-control"
                                    id="emailId"
                                    formControlName="email"
                                    (blur)="setValidateMailMsg('email')"/>
                                <span class="help-block" *ngIf="emailErrorMsg">
                                    {{emailErrorMsg}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group"
                            [class.has-error]="confirmEmailErrorMsg">
                            <label for="confirmMailId"
                                class="col-md-2 control-label">
                                Confirm Mail
                            </label>
                            <div class="col-md-8">
                                <input type="text"
                                    class="form-control"
                                    id="confirmMailId"
                                    formControlName="confirmEmail"
                                    (blur)="setValidateMailMsg('confirmEmail')"/>
                                <span class="help-block" *ngIf="( confirmEmailErrorMsg || signUpForm.get('emailGroup').errors )">
                                    {{confirmEmailErrorMsg}}
                                    <span *ngIf="!confirmEmailErrorMsg && signUpForm.get('emailGroup').errors?.misMatch">
                                        Confirmation email not matching email.
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group"
                        [class.has-error]="phoneErrorMsg">
                        <label for="phoneId"
                               class="col-md-2 control-label">
                            Phone
                        </label>
                        <div class="col-md-8">
                            <input type="text"
                                   class="form-control"
                                   id="phoneId"
                                   formControlName="phone"
                                   (blur)="setPhoneErrMsg()"/>
                            <span class="help-block" *ngIf="phoneErrorMsg">
                                {{phoneErrorMsg}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Notifications</label>
                        <div class="col-md-8">
                            <label class="radio-inline">
                                <input type="radio" value="email" formControlName="notificationType"/>
                                Email
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="phone" formControlName="notificationType" />
                                Phone
                            </label>
                        </div>
                    </div>
                    <div class="form-group"
                         [class.has-error]="ratingErrorMsg">
                        <label for="ratingId"
                               class="col-md-2 control-label">
                            Rating
                        </label>
                        <div class="col-md-8">
                            <input type="text"
                                   class="form-control"
                                   id="ratingId"
                                   formControlName="rating"
                                   (blur)="setRatingErrMsg()"/>
                            <span class="help-block" *ngIf="ratingErrorMsg">
                                {{ratingErrorMsg}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-8 checkbox" >
                            <label>
                                <input id="sendCatalogId"
                                       type="checkbox"
                                       formControlName="sendCatalog" >
                                       Send me your catalog
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                            <span>
                                <button class="btn btn-primary"
                                        type="submit"
                                        [disabled]="!signUpForm.valid">Ok
                                </button>
                            </span>
                            <span>
                                <button class="btn btn-default"
                                        type="button"
                                        (click)="fetchDefault()">
                                    Fetch Default
                                </button>
                            </span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>