<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Customer Form
        </div>
        <div class="panel-body">
            <form class="form-horizontal"
                  novalidate
                  [formGroup]="signUpForm"
                  (submit)="submitSignUpForm()">
                <fieldset>
                    <div class="form-group">
                        <label for="firstNameId"
                               class="col-md-2 control-label">
                            First Name
                        </label>
                        <div class="col-md-8">
                            <input type="text"
                                   class="form-control"
                                   id="firstNameId"
                                   formControlName="firstName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastNameId"
                               class="col-md-2 control-label">
                            Last Name
                        </label>
                        <div class="col-md-8">
                            <input type="text"
                                   class="form-control"
                                   id="lastNameId"
                                   formControlName="lastName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailId"
                               class="col-md-2 control-label">
                            Email
                        </label>
                        <div class="col-md-8">
                            <input type="text"
                                   class="form-control"
                                   id="emailId"
                                   formControlName="email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmMailId"
                               class="col-md-2 control-label">
                            Confirm Mail
                        </label>
                        <div class="col-md-8">
                            <input type="text"
                                   class="form-control"
                                   id="confirmMailId"
                                   formControlName="confirmMail"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneId"
                               class="col-md-2 control-label">
                            Phone
                        </label>
                        <div class="col-md-8">
                            <input type="text"
                                   class="form-control"
                                   id="phoneId"
                                   formControlName="phone"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Notifications</label>
                        <div class="col-md-8">
                            <label class="radio-inline">
                                <input type="radio" value="email" formControlName="notificationType"/>
                                Email
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="phone" formControlName="notificationType" />
                                Phone
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ratingId"
                               class="col-md-2 control-label">
                            Rating
                        </label>
                        <div class="col-md-8">
                            <input type="text"
                                   class="form-control"
                                   id="ratingId"
                                   formControlName="rating"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-8 checkbox" >
                            <label>
                                <input id="sendCatalogId"
                                       type="checkbox"
                                       formControlName="sendCatalog" >
                                       Send me your catalog
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                            <span>
                                <button class="btn btn-primary"
                                        type="submit"
                                        [disabled]="!signUpForm.valid">Ok
                                </button>
                            </span>
                            <span>
                                <button class="btn btn-default"
                                        type="button"
                                        (click)="fetchDefault()">
                                    Fetch Default
                                </button>
                            </span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>