<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <div class="panel-body">
        <div class="row">
            <h1 class='welcomeMsg'>
                {{welcomeMessage}}
            </h1>
        </div>
        <div class="row welcomeImgRow">
            <div>
                <img class="welcomeImg" src="../../assets/images/amazon_logo.jpg">
            </div>
        </div>
        <div class="row text-center">
            <strong>Created By: Abhishek Jain</strong>
        </div>
        <div class="row text-center">
            <a href="https://www.facebook.com/profile.php?id=100002313062413" target="_blank"><img class="contact-icon" src="../../assets/images/fb.png"></a>
            <a href="https://www.linkedin.com/in/iamabhishekjain/" target="_blank"><img class="contact-icon" src="../../assets/images/linked.png"></a>
            <a href="https://github.com/abhishek-ksg" target="_blank"><img class="contact-icon" src="../../assets/images/github.png"></a>
        </div>
    </div>
</div>