<div class="panel panel-primary">
    <div class="panel-heading">
        Employee Form
    </div>
    <div class="panel-body">
        <form class="form-horizontal"
              #empForm='ngForm'
              novalidate
              (submit)="submitForm(empForm)"
              *ngIf="languages && languages.length > 0">
            <fieldset>
                <div class="form-group"
                     [class.has-error]="(firstName.touched || firstName.dirty) && firstName.invalid">
                    <label for="firstName" class="col-md-2 control-label">First Name</label>
                    <div class="col-md-8">
                        <input type="text"
                               class="form-control"
                               id="firstName"
                               #firstName='ngModel'
                               name="firstName"
                               [(ngModel)]="emp.firstName"
                               placeholder="First Name (required)"
                               required
                               pattern=".{3,}" />
                        <div class="alert alert-danger" *ngIf="(firstName.touched || firstName.dirty) && firstName.errors">
                            <div *ngIf="firstName.errors.required">
                                First Name is required.
                            </div>
                            <div *ngIf="firstName.errors.pattern">
                                Minimum 3 characters required.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     [class.has-error]="lastName.touched && lastName.invalid">
                    <label for="lastName"
                           class="col-md-2 control-label">Last Name</label>

                    <div class="col-md-8">
                        <input type="text"
                               class="form-control"
                               id="lastName"
                               #lastName='ngModel'
                               name="lastName"
                               [(ngModel)]="emp.lastName"
                               placeholder="Last Name (required)"
                               required
                               pattern=".{3,}" />
                        <div class="alert alert-danger" *ngIf="(lastName.touched || lastName.dirty) && lastName.errors">
                            <div *ngIf="lastName.errors.required">
                                Last Name is required.
                            </div>
                            <div *ngIf="lastName.errors.pattern">
                                Minimum 3 characters required.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-8 checkbox" >
                        <label>
                            <input id="isfte"
                                   type="checkbox"
                                   [(ngModel)]="emp.isfte"
                                   name="isfte" >
                                   Full Time Employee
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pay Type</label>
                    <div class="col-md-8">
                        <label class="radio-inline">
                            <input type="radio" name="payType" value="usd" #paytype='ngModel' [(ngModel)]="emp.paytype"/>
                            USD
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="payType" value="inr" #paytype='ngModel' [(ngModel)]="emp.paytype" />
                            INR
                        </label>
                    </div>
                </div>
                <div class="form-group"
                     [class.has-error]="invalidLanguage">
                    <label for="language"
                           class="col-md-2 control-label">Language
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" name="language" #language="ngModel"
                            [(ngModel)]="emp.language" (blur)="checkforvalidation()" (change)="checkforvalidation()">
                                <option>Default</option>
                                <option *ngFor='let lang of languages'>{{lang}}</option>
                        </select>
                        <div class="alert alert-danger" *ngIf="invalidLanguage">
                            Please select a valid language.
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <button class="btn btn-primary" type="submit"
                        [disabled]="empForm.invalid">Ok</button>
                    </div>
                </div>

            </fieldset>
        </form>
        <mat-spinner style="margin:0 auto;" *ngIf="!languages || languages.length == 0"></mat-spinner>
    </div>
</div>
