<div class="container-fluid">
    <div class="panel panel-primary popup-panel">
        <div class="panel-heading">
            <div class="row">
                <h4 class="col-sm-8">
                    Messages
                </h4>
                <span class="col-sm-2">
                    <a class="btn btn-default"
                        (click)="close()">
                        &times;
                    </a>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <div *ngFor="let message of messageService.messages; let i=index">
                <div *ngIf="i<10" class="message-row"></div>
                    {{message}}
            </div>
        </div>
    </div>
</div>